@keyframes rotate{
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
 
  @keyframes animation_page{
    0%{
        transform: translateY(10vh);
        opacity: 0;
 }
     100%{
         transform: translateY(0px);
         opacity: 1;
     }
  }


@keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity {
  0% {
     
      opacity: 1;
  }

  1% {
      display: block;
      opacity: 1;
  }

  100% {
      display: block;
      opacity: 0;
  }
}


