/* bouton*/
.btn_exploration {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 12em;
  height: 2.5em;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 2em;
}

.btn_exploration a {
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  top: 25%;
  position: relative;
}
